<!DOCTYPE html>
<html lang="en">
<% include ../common/header.html %>

    <body>
        <div id="page" class="page-details">
            <div class="header">
                <div class="container">
                    <header class="top-nav">
                        <a href="/" class="icon-menu home"></a>
                        <span class="username">Jack Pu </span>
                        <img class="avantar" src="/resource/img/my-photos.jpg" />
                    </header>
                </div>
            </div>

            <div class="main">
                <div class="container">
                    <div class="tag-list">
                        <a href="">Web</a>
                        <a href="" class="selected">UI</a>
                    </div>
                    <div class="post-single">
                        <img src="https://d13yacurqjgara.cloudfront.net/users/30252/screenshots/2298329/profilealt01.png" alt="image">
                        <div class="title">UI DESIGN</div>
                        <div class="date-info">
                            <span class="icon-cloud-upload"></span> 2015-12-12
                            <span class="icon-heart"></span> 100
                        </div>
                        <div class="desc">
                            挺喜欢这幅作品的非常值得赞赏的一部作品
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>

</html>s