<div class="m-footer">
  <div class="sns-group">
    <a href="icon-twitter" title="关注我|Follow Me" class="sns-icon icon-twitter"></a>
    <a href="icon-twitter" title="关注我|Follow Me" class="sns-icon icon-facebook"></a>  
    <a href="icon-twitter" title="关注我|Follow Me" class="sns-icon icon-instagram"></a>  
    <a href="icon-twitter" title="关注我|Follow Me" class="sns-icon icon-pinterest"></a>  
  </div>
  <div class="copy-info">
    CopyRight 2016 &copy; JackZoo.org All Rights Reserved 
  </div>
</div>

