<div class="m-footer">
    <div class="sns-group">
        <!--a href="icon-twitter" title="关注我|Follow Me" class="sns-icon icon-twitter"></a>
        <a href="icon-twitter" title="关注我|Follow Me" class="sns-icon icon-facebook"></a>
        <a href="icon-twitter" title="关注我|Follow Me" class="sns-icon icon-instagram"></a>
        <a href="icon-twitter" title="关注我|Follow Me" class="sns-icon icon-pinterest"></a-->
    </div>
    <div class="copy-info">
        CopyRight 2016 &copy; JackZoo.org All Rights Reserved
    </div>
    <div class="org-list">
        <a href="https://www.worldanimalprotection.org" title="世界动物保护协会（World Animal Protection）">
            <img alt="World Animal Protection" src="http://img1.vued.vanthink.cn/vuedd0d79cfdffbdf7c6077279ab0b761dc9.jpeg" />
        </a>
        <a href="http://www.worldwildlife.org" title="世界自然基金会（World Wildlife Fund）">
            <img alt="World Wildlife Fund" src="http://img1.vued.vanthink.cn/vuedf760a85af30cfe857eb88d6ec05532a3.jpeg" />
        </a>
    </div>
</div>