<div class="components c-user-profile c-user-edit">
    <div class="cover" style="background-image:url(<%=user['cover']%>)">
        <div class="edit-cover"></div>
    </div>
    <div class="user-info">
        <img class="avatar" src="/static/img/my-photos.jpg" />
        <div class="form-group">
            <button type="button" class="btn btn-default">修改头像</button>
        </div>
        <form name="edit" class="m-form text-left">
            <div class="form-group">
                <label for="js-user-name">Username</label>
                <input type="text" id="js-user-name" class="form-control" required value="<%=user['username']%>" placeholder="your username">
            </div>
            <div class="your address">
                <label for="js-user-address">Location</label>
                <input type="text" id="js-user-address" name="address" class="form-control" value="<%=user['address']%>" ng-maxLength="20" placeholder="your address">
                <div ng-messages="edit.address.$error">
                    <p ng-message="<validationName>">Location is too long</p>
                </div>
            </div>
             <div class="your address">
                <label for="js-user-address">Your SNS</label>
                 <div class="input-group">
                    <div class="input-group-addon icon-instagram"></div>
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                </div>
                 <div class="input-group">
                    <div class="input-group-addon icon-facebook"></div>
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                </div>
                <div class="input-group">
                    <div class="input-group-addon icon-twitter"></div>
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                </div>
                <div class="input-group">
                    <div class="input-group-addon icon-google"></div>
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                </div>
                 <div class="input-group">
                    <div class="input-group-addon icon-pinterest"></div>
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                </div>
                <div class="input-group">
                    <div class="input-group-addon icon-github"></div>
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                </div>
                 
            </div>
            <div class="form-group">
                <label for="js-user-name">Description</label>
                <textarea class="form-control" style="height:70px;"></textarea>
            </div>
        </form>
        <div class="text-center">
            <button type="button" class="btn btn-default">Give Up</button> 
            <button type="button" class="btn btn-primary">Save</button>
        </div>
    </div>
   
</div>