<div class="componets c-user-profile">
    <div class="user-info">
        <img class="avantar" src="/static/img/my-photos.jpg" />
        <div class="username">Jack Pu</div>
         <div class="address"><span class="icon-location-pin"></span> Beijing China</div>
    </div>
    <div class="m-cover">
        <div class="over-layout"></div>
        <div class="container">
            <div class="profile">
                <div class="user-info clearfix">
                    
                    <div class="profile-details">
                        
                       
                        <div class="social-group">
                            <a href="" class="icon-instagram" title="instagram"></a>
                            <a href="" class="icon-twitter" title="google-plus"></a>
                            <a href="" class="icon-google" title="sina-weibo"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>