<div class="componets c-user-profile">
    <div class="cover" style="background-image:url(<%=user['cover']%>)"></div>
    <div class="user-info">
        <img class="avatar" src="/static/img/my-photos.jpg" />
        <div class="username"><%=user['username']%></div>
        <div class="address"><span class="icon-location-pin"></span> <%=user['address']%></div>
        <div class="social-group">
            <a href="" class="icon-instagram" title="instagram"></a>
            <a href="" class="icon-twitter" title="google-plus"></a>
            <a href="" class="icon-google" title="sina-weibo"></a>
        </div>
        <div class="quote">
            <%=user['desc']%>      
        </div>
        <div class="text-center">
            <a href="#/user/edit"  class="btn btn-primary">Edit Profile</A>    
        </div>
    </div>
    <div class="settings-nav">
        <a href="">图片</a>
        <a href="">类别</a>    
    </div>
    <div class="contents">
        <div class="container" style="display:none;">
            <form class="form-inline text-right">
                <button class="btn btn-danger"><span class="icon icon-trash"></span> 批量删除</button>
                <button class="btn btn-default "><span class="icon icon-settings"></span> 图片管理</button>
            </form>
            <div class="post-list">
                    
            </div>
        </div>
        <div class="edit-navigation">
            <form action="post">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">::</div>
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary form-control" ng-click="cerateCatEvent()">添加分类</button>
                </div>
            </form>
        </div>
    </div>
</div>
 <script type="text/ng-template" id="create-cat.html">
    <div class="modal-header">
        <h3 class="modal-title">Create Category</h3>
    </div>
    <div class="modal-body">
        <div class="m-form">
            <div class="form-group">
                <input type="text" ng-model="newCatName" autofocus placeholder="your category name"  class="form-control"/>
            </div>
            <div class="form-group">
                <textarea ng-model="newCatDesc"  placeholder="your category description"  class="form-control" style="height:120px;"/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>