<div class="componets c-user-login c-user-register">
    <div class="wrap">
        <div class="logo"></div>
        <p class="logo-desc">Welcome to J-albums</p>
        <form class="m-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="E-mail" />
            </div>
            <div class="form-group">
                <input type="pasword" class="form-control" placeholder="Password" />
            </div>
            <div class="form-group">
                <input type="pasword" class="form-control" placeholder="Retry Password" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary form-control">Sign In</button>
            </div>
            <div class="form-group text-right">
                Have an Account? <a href="#user/login">Sign In</a>
            </div>
        </form>
    </div>
</div>