<div class="components c-detail">
    <div class="hd"></div>
    <div class="main">
        <div class="container">
            
            <div class="post-single">
               
                <img src="<%=data['url']%>" alt="image">
                <div class="title">
                    <%=data[ 'title']%>
                </div>
                <div class="date-info">
                    <span class="icon-cloud-upload"></span> <%=data['date']%>
                </div>
                <div class="desc">
                    <%=data[ 'contents']%>
                </div>
                <!--div class="tag-list">
                    <a href="">Web</a>
                    <a href="" class="selected">UI</a>
                </div-->
            </div>
        </div>

    </div>



</div>