<div class="components c-home-detail">

    <div id="page" class="page-details">
        <div class="header">
            <div class="container">
                <header class="top-nav">
                    <a href="/" class="icon-menu home"></a>
                    <span class="username">Jack Pu </span>
                    <img class="avantar" src="/resource/img/my-photos.jpg" />
                </header>
            </div>
        </div>

        <div class="main">
            <div class="container">
                <div class="tag-list">
                    <a href="">Web</a>
                    <a href="" class="selected">UI</a>
                </div>
                <div class="post-single">
                    <img src="<%=data['url']%>" alt="image">
                    <div class="title"><%=data['title']%></div>
                    <div class="date-info">
                        <span class="icon-cloud-upload"></span> 2015-12-12
                        <span class="icon-heart"></span> 100
                    </div>
                    <div class="desc">
                        <%data['contents']%>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    
</div>