<div class="components c-home" ng-init="init()">
    
    <div class="js-main">
       
        <div class="container">
            <!--div class="tag-list g-hidden">
                <%nav.forEach(function(item){%>
                    <a href="tag"><%=item['name']%></a>
                <%})%>
            </div-->
            <!--a href="#upload" class="btn-create-new icon-plus"></a>
            <a href="#/user/profile" class="btn-manage icon-settings"></a-->
            <div class="posts-list row">
                
            </div>
        </div>
        
    </div>
</div>

<script type="text/ng-template" id="detail.html">
    <div class="modal-header">
        <h3 class="modal-title">{{::data.name}}
            <a href="javascript::" class="close icon-close" ng-click="cancel()"></a>
        </h3>
    </div>
    <div class="modal-body">
        <div class="post-single">
               
            <img ng-src="{{data.url}}" alt="image">
            <div class="title">
                {{data.title}}
            </div>
            <div class="date-info">
                <span class="icon-cloud-upload"></span>  {{data.date}}
            </div>
            <div class="desc">
                 {{data.contents}}
            </div>
            <!--div class="tag-list">
                <a href="">Web</a>
                <a href="" class="selected">UI</a>
            </div-->
        </div>
    </div>
</script>
