<div class="components c-home" ng-init="init()">
    
    <div class="js-main">
       
        <div class="container">
            <!--div class="tag-list g-hidden">
                <%nav.forEach(function(item){%>
                    <a href="tag"><%=item['name']%></a>
                <%})%>
            </div-->
            <!--a href="#upload" class="btn-create-new icon-plus"></a>
            <a href="#/user/profile" class="btn-manage icon-settings"></a-->
            <div class="posts-list row">
                <div class="col-md-4 item" ng-repeat="item in list">
                    <div class="post-item">
                        <a href="#detail/{{item._id}}">
                            <img alt="上传图片" ng-src="{{item.url}}" />
                                <!--div class="like-num-wrap">
                                    <span class="icon-heart"></span>
                                    <span class="num">100</span>
                                </div-->
                            <div class="title">{{item.title}}</div>
    
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>