<!DOCTYPE html>
<html lang="en">
<% include ../common/header.html %>

  <body ng-app="app" ng-strict-di ng-cloak>
    
    <div class="m-cover no-cover">
       <nav class="navbar navbar-default">
        <div class="container-fluid nav-list text-center">
          <a href="https://www.jackzoo.org" class="logo">JackZoo</a>
          <a href="/">主页</a>
          <a class="active" href="javascript:;">类目</a>
          <!--a href="#">识趣</a-->
          <a href="/index/aboutus">我们</a>
        </div>
      </nav>
      <div class="blur-background"></div>
     
    </div>
    <div class="main">
      <form class="m-search input-group relative">
        <input type="text" class="form-control" placeholder="动物名称|Animals Name" />
        <span class="input-group-btn">
          <button  class="btn btn-primary icon-search">
            搜索
          </button>
        </span>

      </form>
      <div class="m-posts post-single">
        <div class="row">
          <div class="col-md-5">
            <div class="m-thumb-gallary">
              <img class="thumb1" alt="边境牧羊犬" src="http://img1.vued.vanthink.cn/vuedb72c319e15b599cd3d4f59a7e23eeaf0.jpeg" />
             
              
            </div>
            
          </div>
          <div class="col-md-7 text-left">
            <h1>边境牧羊犬</h1> 
            <p class="basic-info">
              <span class="icon icon-calendar"> 2016-12-12</span>
              <span class="icon icon-user"> Jack</span>
              <span class="icon icon-heart"> 20178</span>
            </p>
            <div class="desc">
              边境牧羊犬（Border Collie）原产于苏格兰边境，为柯利牧羊犬的一种，具有强烈的牧羊本能，天性聪颖、善于察言观色，能准确明白主人的指示，可借由眼神的注视而驱动羊群移动或旋转，被当成牧羊犬已有多年的历史，在世界犬种智商排行第一名。
特点是聪明、学习能力强、理解力高、容易训练、善于与人类沟通、温和、忠诚、服从性好，其忠心程度可以用如影随形来形容，由于温和忠诚的性格不乱叫，一度成为最受城市人口家养的宠儿。而且边境牧羊犬还是飞盘狗最具竞争力的犬种,是历年飞盘狗世界杯大赛的主角。
            </div>
            <p class="extend-link">
              <span class="icon icon-link"></span><a href=""> 扩展阅读</a>
            </p>
            <div class="m-tag-list">
              <a href="" class="tag">Tag1</a>
            </div>
            
          </div>
        </div>
        <!--div class="row">
          <div class="share-info">
           
            <div class="addthis_sharing_toolbox"></div>
          </div>
        </div-->
        <h3>更多酷照</h3>
        <div class="row m-thumb-gallary">
          <div class="col-md-4 item">
            <a href="#" class="thumb">
              <img src="http://img1.vued.vanthink.cn/vuedd82f93920f9c5bbff75104a26ac38d9d.jpeg">
              <div class="quote">
                一只边境牧羊犬在抓住一只花朵。  
              </div>
            </a>
          </div>
          <div class="col-md-4 item">
            <a href="#" class="thumb">
              <img src="http://img1.vued.vanthink.cn/vuedd82f93920f9c5bbff75104a26ac38d9d.jpeg">
              <div class="quote">
                一只边境牧羊犬在抓住一只花朵。  
              </div>
            </a>
          </div>
          <div class="col-md-4 item">
            <a href="#" class="thumb">
              <img src="http://img1.vued.vanthink.cn/vuedd82f93920f9c5bbff75104a26ac38d9d.jpeg">
              <div class="quote">
                一只边境牧羊犬在抓住一只花朵。  
              </div>
            </a>
          </div>
        </div>
        <!--h3>你可能还想知道</h3-->
        
         
      </div>
    </div>
    <% include ../common/footer.html %>
    <!-- Go to www.addthis.com/dashboard to customize your tools --> 
    <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55d88bec2ab91030"></script> 
  </body>

</html>