<div class="components" ng-init="init()">
    <div class="header">
        <div class="container">
            <header class="top-nav">
                <a href="/" class="icon-menu home"></a>
                <span class="username">Jack Pu </span>
                <img class="avantar" src="/static/img/my-photos.jpg" />
            </header>
        </div>
    </div>

    <div class="main">
        <div class="container black">
            <div class="m-form">
                <h3>创建图片      
                    <a href=""> 使用网络地址</a>
                </h3>
                <div class="btn-upload-image">
                    上传图片
                </div>
                <div class="form-group">
                    <label>title:</label>
                    <input type="text" class="form-element" placeholder="" />
                </div>

                <div class="form-group">
                    <label>desc:</label>
                    <textarea class="textarea">

                    </textarea>
                </div>
                <div class="form-group">
                    <label>tag:</label>
                    <input type="text" class="form-element" placeholder="" />
                </div>


            </div>



        </div>

    </div>
</div>    