<div class="components c-upload" ng-init="init()">
    <div class="hd"></div>
    <div class="main">
        <div class="container black">
            <div class="m-form">
                <h3>创建图片      
                
                </h3>
                <div class="btn-upload-image">
                </div>
                <div class="preview-image">
                    <img alt="上传图片" ng-src="{{formData.url}}" />
                    <div class="btn-remove-image icon-clsoe"></div>
                </div>
                <div class="form-group">
                    <input type="text" ng-model="formData.title" class="form-control" placeholder="title" />
                </div>

                <div class="form-group">
                    <textarea ng-model="formData.contents" placeholder="your Description 140" class="textarea form-control" style="height:180px;"></textarea>
                </div>
                <div class="form-group">
                    <input type="hidden" ng-model="formData.nav_id" />
                    <select class="form-control" ng-model="formData.nav">
                        <option value="">select categogry</option>
                        <%category.forEach(function(item){%>
                             <option value="<%=item['_id']%>"><%=item['name']%></option> 
                        <%})%>
                    </select>
                </div>
                <div class="form-group text-center">
                    <button type="submit" ng-click="save($event)"  class="btn btn-primary">Create One</button>
                </div>


            </div>

        </div>

    </div>
</div>    