html,
body{
    height: 100%;
}

#page{
    position: relative;
    min-height: 100%;
}
.nav{
    background: none;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,.15);
    a{
        color: #333;
    }
}
.components {
	 .hd{
        height: 1rem;
    }
    
    .main{
        margin: 0 auto;
    }
    
    .alert{
        margin-top: .5rem;
    }
    
}
.main{
  width: 1120px;
  margin: 0 auto;
  text-align: center;w
}
.m-search{
  position: relative;
  margin-top: -2rem;
  max-width: 720px;
}

.m-footer{
  background: #343339;
  height: 10rem;
  color: #666;
  text-align: center;
  
  .sns-group{
    height: 6.75rem;
    border-bottom: 1px solid #494949;
    padding-top: 3rem;
    .sns-icon{
      display: inline-block;
      width: 1.8rem;
      height: 1.8rem;
      margin-left: .5rem;
      margin-right: .5rem;
      background: #5d5d5f;
      border-radius: 50%;
      color: #343339;
      font-size: .9rem;
      line-height: 1.8rem;
      text-decoration: none;
      
    }
    .sns-icon:hover{
      color: #fff;
    }
  }
  
  .copy-info {
    line-height: 3.25rem;
    font-size: 0.6rem;
  }
}