html,
body{
    height: 100%;
}

#page{
    position: relative;
    min-height: 100%;
}

.components {
	 .hd{
        height: 3rem;
        background: #34495e;
    }
    
    .main{
        margin: 0 auto;
    }
    
    
}