.posts-list {
  margin-top: 30px;
  .option-control {
    border-bottom: 1px solid #ccc;
    font-size: .75rem;
    line-height: 2rem;
  }
  .view-details {
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: .65rem;
  }
}

.posts-list .item {
  padding: 10px 20px;
  margin-top: 30px;
  text-align: center;
}

.posts-list img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, .15);
}

.posts-list .post-item {
  position: relative;
  margin-bottom: 1rem;
  padding-top: 130%;
  background: #fff;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .1);
}

.posts-list .post-item .like-num-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .5rem .75rem;
  text-align: left;
  
  .icon-heart{
    color:red;
  }
}

.posts-list .post-item .like-num-wrap .num {
  margin-left: .75rem;
  font-weight: bold;
  color: #fff;
}

.posts-list .details {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1.2rem 1rem;
  background: #4099ff;
  color: #ddd;
}

.posts-list .title {
  font-size: .8rem;
  margin-bottom: 1rem;
}

.post-single {
  max-wdith: 1120px;
  position: relative;
  min-height: 480px;
  padding: 1rem 1rem 3rem;
  background: #fff;
  text-align: left;
}

.post-single img {
  max-width: 100%;
  margin-bottom: .75rem;
}

.post-single .title {
  font-size: 1.6rem;
  line-height: 3.5rem;
  font-weight: 400;
  color: #111;
}

.post-single .date-info {
  padding: .5rem 0;
  font-size: 1rem;
  color: #999;
}
.post-single .basic-info .icon{
  margin-right: 1rem;
  color: #555;
}
.post-single .date-info .icon-heart {
  margin-left: 1rem;
  margin-right: .5rem;
}

.post-single .desc {
  font-size: .8rem;
  line-height: 1.5em;
  color: #333;
}

.post-single .share-info{
  padding-top: 2rem;
}

.post-search{
  position: relative;
  max-width: 720px;
  margin: 0 auto 1rem;
  padding: 1rem;
  background: #fff;
  border:1px solid #e3e3e3;
  text-align: left;
  h1{
    font-size: 1.4rem;
    margin-top: .25rem;
  }
  .thumb {
    width: 100%;
  }
  .desc {
    overflow: hidden;
    height: 160px;
    margin-bottom: 0.5rem;
    font-size: .8rem;
    line-height: 1.5em;
    color: #777;
    text-overflow: ellipsis;
    
  }
}

.post-search.error {
  h1{
    color: #555;
    font-size: 1.2rem;
    
    strong{
      color:red;
    }
  }
}